.form-label-text {
  color: var(--marine-blue);
}

.form-focus-mod{
  color: var(--marine-blue) !important;
}

.form-focus-mod::placeholder{
  color: var(--cool-gray) !important;
}

.form-focus-mod:focus{
  border: 1px solid var(--purplish-blue) !important;
  box-shadow: none !important;
}