.summary-card {
  background-color: var(--alabaster) !important;
  border: 0px !important;
}

.plan-name {
  font-weight: 600;
  color: var(--marine-blue) !important;
}

.addon-text {
  color: var(--cool-gray) !important;
}

.total-amount {
  font-weight: 600;
  color: var(--purplish-blue);
}

.btn-link-mod{
  color: var(--cool-gray) !important;
  margin-top: -30px;
  margin-left: -10px;
  font-size: 14px !important;
}

.btn-link-mod:hover{
  color: var(--purplish-blue) !important;
}

.hr{
  color: var(--cool-gray) !important;
  margin-top: 0px;
}