.addOn-card {
  transition: 0.4s ease;
}
.addOn-card:hover {
  border: 1px solid var(--purplish-blue) !important;
}

.addOn-name {
  font-weight: 500;
  color: var(--marine-blue);
}

.addOn-desc {
  color: var(--cool-gray);
  font-weight: 500;
  margin-top: -10px;
  font-size: 14px;
}

.addon-price {
  color: var(--purplish-blue);
}

.addOn-card-active {
  border: 1px solid var(--purplish-blue) !important;
  background-color: var(--alabaster) !important;
}

.form-checkbox-mod .form-check-input {
  box-shadow: none !important;
  cursor: pointer;
}

.form-checkbox-mod .form-check-input:checked {
  background-color: var(--purplish-blue) !important;
  border: 1px solid var(--purplish-blue) !important;
}
